FlashCardApp/FlashCardApp.Store/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60710/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60710/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60710/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlashCardApp.Core.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetRandom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandom" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRandom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSets" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSetsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadSets_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadSets" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadSets_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadSetsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetRandom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRandom" message="tns:IService1_GetRandom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRandomResponse" message="tns:IService1_GetRandom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSets">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSets" message="tns:IService1_GetSets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSetsResponse" message="tns:IService1_GetSets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSets">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadSets" message="tns:IService1_UploadSets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadSetsResponse" message="tns:IService1_UploadSets_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandom">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRandom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSets">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSets">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadSets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60710/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>