FlashCardApp/FlashCardApp.Store/Service References/LocalService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60710/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlashCardApp.Core.Entities" />
  <xs:element name="GetRandom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRandomResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlashCardApp.Core.Entities" minOccurs="0" name="GetSetsResult" nillable="true" type="q1:ArrayOfFlashCardSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlashCardApp.Core.Entities" minOccurs="0" name="set" nillable="true" type="q2:FlashCardSet" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FlashCardApp.Core.Entities" minOccurs="0" name="cards" nillable="true" type="q3:ArrayOfFlashCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadSetsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>