FlashCardApp/FlashCardApp.Store/Service References/LocalService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlashCardApp.Core.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlashCardApp.Core.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlashCardSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlashCardSet" nillable="true" type="tns:FlashCardSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlashCardSet" nillable="true" type="tns:ArrayOfFlashCardSet" />
  <xs:complexType name="FlashCardSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlashCardSet" nillable="true" type="tns:FlashCardSet" />
  <xs:complexType name="ArrayOfFlashCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlashCard" nillable="true" type="tns:FlashCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlashCard" nillable="true" type="tns:ArrayOfFlashCard" />
  <xs:complexType name="FlashCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Definition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Pinyin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetID" type="xs:int" />
      <xs:element minOccurs="0" name="Simplified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Traditional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="setIDs" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlashCard" nillable="true" type="tns:FlashCard" />
</xs:schema>