FlashCardApp/FlashCardApp.Core/Service References/FlashCardService/FlashCardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlashCardTestService.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlashCardTestService.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceFlashCardSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceFlashCardSet" nillable="true" type="tns:ServiceFlashCardSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceFlashCardSet" nillable="true" type="tns:ArrayOfServiceFlashCardSet" />
  <xs:complexType name="ServiceFlashCardSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlashCards" nillable="true" type="tns:ArrayOfServiceFlashCard" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFlashCardSet" nillable="true" type="tns:ServiceFlashCardSet" />
  <xs:complexType name="ArrayOfServiceFlashCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceFlashCard" nillable="true" type="tns:ServiceFlashCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceFlashCard" nillable="true" type="tns:ArrayOfServiceFlashCard" />
  <xs:complexType name="ServiceFlashCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Definition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Pinyin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetID" type="xs:int" />
      <xs:element minOccurs="0" name="Simplified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Traditional" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFlashCard" nillable="true" type="tns:ServiceFlashCard" />
</xs:schema>